.DS_Store
.vscode/settings.json
target/market-orders-app.jar
/target/
/platform_secrets/
/migrations/*
properties/yugabyte-cloud.properties
properties/yugabyte-platform.properties
demo/my_demo_sript.md
